NODE_ENV=development
PORT=3001

; MONGO_URI=mongodb://mongoadmin:secret@mongodb:27017/vue-tube?authSource=admin
MONGO_URI=mongodb://localhost/vue-tube

JWT_SECRET=aiVfv3
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

FILE_UPLOAD_PATH = ./public/uploads
MAX_FILE_UPLOAD = 1000000

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_EMAIL=
SMTP_PASSWORD=
FROM_EMAIL=noreply@boilerplate.com
FROM_NAME=Boilerplate